<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>

  <appSettings>
    <add key="DalAssembly" value="WuHu.SQLServer"/>
  </appSettings>

	<connectionStrings>
		<add name="DefaultConnectionString" providerName="System.Data.SqlClient" 
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Alexander\Documents\CloudStation\FH\5. Semester\SWK\Uebung\Projekt\Wuhu.Server\database_wuhu.mdf;Integrated Security=True;Connect Timeout=30"/>
	</connectionStrings>
</configuration>
