<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="WuHuDBConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\programmieren\Wuhu\database.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DalAssembly" value="WuHu.SQLServer" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>